{% extends "simple_agent_layout.html.j2" %}
{% block title %}
  {{ pattern.name }}
{% endblock title %}
  {% block head %}
    <link rel="stylesheet" href="/reflection/static/style.css">
  {% endblock head %}
  {% block pattern_name %}
    {{ pattern.name }}
  {% endblock pattern_name %}
{% block pattern_desc %}
    {{ pattern.description }}. Try asking for a poem or a short story.
  {% endblock pattern_desc %}
  {% block form_action %}
    /demo/{{ pattern.id }}
  {% endblock form_action %}
{% block placeholder %}
  e.g.
  Write a haiku about rust
{% endblock placeholder %}
{% block results %}
    <div id="results-grid" class="results-grid" style="display: none;">
      <!-- Results will be injected here via JS -->
    </div>

    <script src="/static/js/stream-handler.js"></script>
    <script src="/reflection/static/reflection.js"></script>
{% endblock results %}
