{% extends "simple_agent_layout.html.j2" %}
{% block title %}
  {{ pattern.name }}
{% endblock title %}
{% block pattern_name %}
  {{ pattern.name }}
{% endblock pattern_name %}
{% block pattern_desc %}
  {{ pattern.description }}.
{% endblock pattern_desc %}
{% block form_action %}
  /demo/{{ pattern.id }}
{% endblock form_action %}
{% block placeholder %}
  Say hello...
{% endblock placeholder %}
{% block results %}
  {% if result %}
    <div class="result-card">
      <h3>Agent Response</h3>
      <div class="content">{{ result }}</div>
    </div>
  {% endif %}
{% endblock results %}
